body * {
    margin: 0;
    padding: 0;
}

nav {
    background: rgba(73, 73, 73, 0.5);
}

hr {
    background-color: cornsilk;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

h5 {
    font-family: 'Roboto Slab', serif;
}

li {
    font-family: 'Roboto Slab', serif;
}

font {
    font-family: 'Nunito', sans-serif;
}